<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Category Page Buddy</h2>
    <a href="/category/create">Add new</a>
    <% if(data) { %>
        <% data.forEach(data => { %>
            <a href="/category/update/<%= data.id %>">Edit</a>
            <a href="/category/item/<%= data.id %>"><h2><%= data.name %></h2></a>
            <h4><%= data.description %></h4>
        <% }) %>
    <% } %>
    <a href="/">Back to home page</a>
</body>
</html>