<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Item page buddy</h1>
    <% if(data) { %>
        <% data.forEach(data => { %>
            <a href="/category/item/update/<%= data.id %>">Edit</a>
            <a href="/category/item/delete/<%= data.id %>">Delete</a>
            <h2><%= data.name %></h2>
            <h4><%= data.description %></h4>
        <% }) %>
    <% } %>
    <a href="/category/item/<%= categoryId %>/create">Add New Item</a>
    <a href="/category">Back to Category</a>
    <a href="/">Back to Home page</a>
</body>
</html>